<div class="row">
  <div class="col-md-12">

    <% flash.get('mensaje').forEach(function (msg) { %>
      <div class="alert alert-info text-center" role="alert">
        <%=msg%>
      </div>
      <% }) %>
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <legend>Mis reservas</legend>
            </div>
            <div class="col-md-12 my-2 bg-success row">
              <% reservas.forEach( reserva=> { %>
                <div class="col-md-4 my-2">
                  <div class="card">
                    <h5 class="card-header bg-secondary text-white text-center">
                      <%=reserva.nombre%> Nro.<%=reserva.identificador%><br>
                    </h5>
                  </div>
                  <div class="card-body">
                    <p class="card-text">
                      Fecha: <%=reserva.fecha%><br>
                      Pedido: <%=reserva.pedido%><br>
                      Tiempo solicitado: <%=reserva.tiempo%> Hora(s)<br>
                      Aforo permitido: <%=reserva.aforo%><br>
                    </p>
                  </div>
                </div>
                <% }) %>
            </div>
          </div>
        </div>
  </div>
</div>