<div class="row text-center">
  <div class="col-md-12">

    <% flash.get('mensaje').forEach(function (msg) { %>
    <div class="alert alert-info text-center" role="alert">
      <%=msg%>
    </div>
    <% }) %>

    <h3>Orden Nro. <%=orden.id%></h3>
    <div class="row text-center">
      <div class="col-md-6">
        <p>Fecha: <%=orden.fecha%></p>
      </div>
      <div class="col-md-6">
        <p>Total fotos: <%=orden.total%></p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12">
        <h3>Fotos</h3>
        <% orden.detalles.forEach( detalle => { %>
          <p>
            <img src="/images/fotos/<%=detalle.foto.contenido%>" alt="" class="w-25">
        </p>
        <% }) %>
      </div>
    </div>
  </div>
</div>
