<div class="row">
  <div class="col-md-12 text-center">
    <% flash.get('mensaje').forEach(function (msg) { %>
      <div class="alert alert-info text-center" role="alert">
        <%=msg%>
      </div>
      <% }) %>

      <h2>Administradores</h2>
  
      <table class="table text-center">
        <thead>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>EMAIL</th>
            <th>ACCION</th>
         </tr>
        </thead>
        <tbody>
          <% admins.forEach( admin => { %>
            <tr>
              <td><%=admin.id%></td>
              <td><%=admin.nombre%></td>
              <td><%=admin.email%></td>
              <td>
                <% if (admin.activo) { %>
                <a href="/admin/desactivar-admin/<%=admin.id%>" class="btn btn-info">Desactivar Admin</a>
                <% } else { %>
                <a href="/admin/activar-admin/<%=admin.id%>" class="btn btn-primary">Activar Admin</a>
                <% } %>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
  </div>
</div>
